* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background: #000;
    color: #62ff8a; /* Identidade Verde Matrix */
    font-family: 'Courier New', monospace;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portalCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gate-container {
    position: relative;
    z-index: 10;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.section {
    border: 1px solid #62ff8a;
    padding: 25px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.owner-link {
    display: block;
    border: 2px solid #62ff8a;
    padding: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 15px #62ff8a;
    transition: 0.3s;
    text-transform: uppercase;
}

.owner-link:hover {
    background: #62ff8a;
    color: #000;
}

.toast {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: #62ff8a;
    padding: 15px 30px;
    border: 1px solid #62ff8a;
    z-index: 100;
    transition: top 0.6s ease;
    font-size: 0.8rem;
    text-align: center;
}

.toast.show {
    top: 20px;
}
